<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giftr | Gifts that never disappoint</title>
    <link rel='icon' href="{{ url_for('static', filename='img/favicon.ico') }}" type='image/x-icon'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'>
    <link rel="stylesheet" href="src/style.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div id="content-wrap">
        <div class="header">
            <center>
                <a href= "/">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" width="410" height="120" draggable="false"> 
                </a>
                <br>
                <h1 style="font-family: Roboto; margin-top: 3%;">404. This page doesn't exist!</h1>
            </center>
             </div>
         </div>
    
</body>
</html>
