<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giftr | Gifts that never disappoint</title>
    <link rel='icon' href="{{ url_for('static', filename='img/favicon.ico') }}" type='image/x-icon'>
    <link rel="stylesheet" href="{{ url_for('static', filename='src/settings.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='src/style.css') }}">
    <link rel='stylesheet' href="{{ url_for('static', filename='src/fontAwesome_v5.0.13_all.css') }}">
    <link rel='stylesheet' href="{{ url_for('static', filename='src/bootstrap_v3.4.1_min_.css') }}">    
    <script src="{{ url_for('static', filename='src/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='src/bootstrap3_4_1.min.js') }}"></script>
</head>
<body>
    <div id="content-wrap">
        <div class="header">
            <center>
                <a href= "/">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" width="410" height="120" draggable="false"> 
                </a>
                <br>
                <h1 style="font-family: Roboto; margin-top: 3%;">404. This page doesn't exist!</h1>
            </center>
             </div>
         </div>
    
</body>
</html>
