<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings | Giftr</title>
    <link rel='icon' href="{{ url_for('static', filename='img/favicon.ico') }}" type='image/x-icon'>
    <link rel="stylesheet" href="{{ url_for('static', filename='src/settings.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='src/style.css') }}">
    <link rel='stylesheet' href="{{ url_for('static', filename='src/fontAwesome_v5.0.13_all.css') }}">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- nav bar-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='img/logo.png') }}"
                         alt="Logo"
                         width="120"
                         draggable="false"
                         style="margin-top: 8px; 
                         margin-right: 10px;" />
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('suggestion') }}">Item suggestion</a></li>
            </ul>
            <form class="navbar-form navbar-left" action="/search" method="POST">
                <div class="input-group">
                    <input type="text"
                           class="form-control"
                           placeholder="Search for gift"
                           name="search" />
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if 'loggedin' in session %}
                <li>
                    <a href="{{ url_for('logout') }}" style="color: red;"><span class="glyphicon glyphicon-log-out"></span>Logout</a>
                </li>
                <li>
                    <a href="{{ url_for('profile') }}"><span class="glyphicon glyphicon-user"></span>My profile</a>
                </li>
                {% else %}
                <li>
                    <a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span>Login</a>
                </li>
                <li>
                    <a href="{{ url_for('register') }}"><span class="glyphicon glyphicon-user"></span>Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- rest -->
    <div id="page-container">
        <div id="content-wrap">
            <div class="header">
                <center>
                    <a href="{{ url_for('index') }}">
                        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" width="410" height="120" draggable="false">
                    </a>
                    <br>
                </center>
            </div>

            <div class="giftbank" onmouseover="onH(this)" onmouseout="onE(this)">
                <img src="{{ url_for('static', filename='img/gift.png') }}" alt="Gift icon" width="30" height="30" draggable="false">
                <a href="{{ url_for('wishlist') }}">Gift Bank</a>
            </div>
            <script type="text/javascript">
                function onH(x){
                    x.getElementsByTagName('img')[0].src = "{{ url_for('static', filename='img/gift-black.png') }}";
                    x.getElementsByTagName('a')[0].style.color = "black";
                }
                function onE(x){
                    x.getElementsByTagName('img')[0].src = "{{ url_for('static', filename='img/gift.png') }}";
                    x.getElementsByTagName('a')[0].style.color = "white";
                }
            </script>

            <form action="{{ url_for('new_settings') }}" method="post">
                <div class="grid-container1">

                    <div class="item-1">
                        <p class="pageTitle">Settings</p>
                    </div>

                    <div class="item-2">
                        <label for="email">Change email address:</label>
                    </div>
                    <div class="item-7">
                        //if not 'loggedin' in session
                        <p>Current email address: {% print(session['email']) %}</p>
                        <input type="email" class="input" placeholder="New email" name="email">
                        <br>
                        <input type="email" class="input" placeholder="Confirm email" name="confirmEmail">
                    </div>

                    <div class="item-3">
                        <label for="email">Change password:</label>
                    </div>
                    <div class="item-8">
                        <input type="password" class="input" placeholder="New password" name="passw">
                        <br>
                        <input type="password" class="input" placeholder="Confirm Password" name="cofirmPassw">
                    </div>

                    <div class="item-4">
                        <label for="profilePicture">Change profile picture:</label>
                    </div>
                    <div class="item-9">
                        <label class="uploadButton">
                            <input type="file" name="profilePicture" style="display: none"> Upload file
                        </label>
                    </div>

                    <div class="item-6">
                        <button class="button submit" type="submit">
                            Save changes
                        </button>
                    </div>

                </div>
            </form>

        </div>
        <div class="footer">
            <a href="{{ url_for('about') }}">About Us</a>
            |
            <a href="{{ url_for('contact') }}">Contact Us</a>
            |
            <a href="{{ url_for('privacy') }}">Privacy Policy</a>
        </div>
    </div>

</body>
</html>
