* {
  box-sizing: border-box;
}

.titles {
  width: 300px;
  height: 100px;
  margin: 150px auto;
  background: #519dd9;
  padding: 15px;
  text-align: center;
  color: white;
  font-size: 50px;
}

.text1 {
  width: 30%;
  height: 40%;
  margin: 10% auto;
  padding: 20px;
  background: #db0038;
  text-align: center;
  color: white;
  font-size: 20px;
}

.text2 {
  width: 35%;
  height: 45%;
  margin: 10% auto;
  padding: 20px;
  background: #f7c200;
  text-align: center;
  color: black;
  font-size: 20px;
}

.text3 {
  width: 25%;
  height: 45%;
  margin: 10% auto;
  padding: 30px;
  background: #53bac1;
  text-align: center;
  color: white;
  font-size: 20px;
}

.text4 {
  width: 20%;
  height: 30%;
  margin: 10% auto;
  padding: 10px;
  background: #519dd9;
  text-align: center;
  color: white;
  font-size: 40px;
}

.text5 {
  width: 30%;
  height: 15%;
  margin: 10% auto;
  background: #519dd9;
  padding: 5px;
  text-align: center;
  color: white;
  font-size: 20px;
}

.text6 {
  width: 30%;
  height: 47%;
  margin: 10% auto;
  background: #519dd9;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 19px;
}

@media screen and (min-width: 320px) and (max-width: 700px) {
  .titles {
    width: 25%;
    height: 8%;
    margin: 7% auto;
    padding: 10px;
    font-size: 20px;
  }

  .text1 {
    width: 37%;
    height: 22%;
    margin: 7% auto;
    padding: 10px;
    font-size: 14px;
  }

  .text2 {
    width: 40%;
    height: 32%;
    margin: 7% auto;
    padding: 10px;
    font-size: 14px;
  }

  .text3 {
    width: 37%;
    height: 22%;
    margin: 7% auto;
    padding: 10px;
    font-size: 14px;
  }

  .text4 {
    width: 26%;
    height: 7%;
    margin: 7% auto;
    padding: 10px;
    font-size: 14px;
  }

  .text5 {
    width: 39%;
    height: 22%;
    margin: 7% auto;
    padding: 10px;
    font-size: 14px;
  }

  .text6 {
    width: 25%;
    height: 40%;
    margin: 7% auto;
    font-size: 14px;
  }
}

@media screen and (min-width: 701px) and (max-width: 1200px) {
  .titles {
    width: 16%;
    height: 16%;
    margin: 7% auto;
    padding: 10px;
    font-size: 20px;
  }

  .text1 {
    width: 34%;
    height: 24%;
    margin: 7% auto;
    padding: 10px;
    font-size: 14px;
  }

  .text2 {
    width: 36%;
    height: 34%;
    margin: 7% auto;
    padding: 10px;
    font-size: 14px;
  }

  .text3 {
    width: 34%;
    height: 24%;
    margin: 7% auto;
    padding: 10px;
    font-size: 14px;
  }

  .text4 {
    width: 23%;
    height: 8%;
    margin: 7% auto;
    padding: 10px;
    font-size: 14px;
  }

  .text5 {
    width: 36%;
    height: 24%;
    margin: 7% auto;
    padding: 10px;
    font-size: 14px;
  }

  .text6 {
    width: 60%;
    height: 30%;
    margin: 7% auto;
    font-size: 14px;
  }
}
