.header {
  margin-bottom: 3%;
}

body {
  background-color: #ededed;
  font-family: Arial, sans-serif;
  background-size: cover;
}


form {
  border: 4px solid grey;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1%;
}

.container {
  padding: 30px;
  text-align: center;
}


.icons {
  color: #53bac1;
}

.input {
  width: 30%;
  padding: 12px 10px;
  outline: none;
  border: none;
  border-bottom: 2px solid #f7c200;
  background: transparent;
  margin: 20px;
}

.input:focus {
  border: none;
  border-bottom: 2px solid #db0038;
}

::placeholder {
  color: black;
  text-transform: uppercase;
}


.submit {
  background-color: #519dd9;
  color: #ededed;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 20%;
  margin: 1%;
  text-transform: uppercase;
  font-size: 14px;
}

.submit:hover {
  background-color: #db0038;
}

#title{
  font-size: 20px;
  font-style: bold;
}

@media screen and (min-width: 320px) and (max-width: 767px){
  form {
      margin-left: 5%;
      margin-right: 5%;
      margin-top:1%;
  }

  .input{
      width: 50%;
  }

  .submit{
      width: 40%;
  }

}

@media screen and (min-width: 768px) and (max-width: 1199px){
  form {
      margin-left: 10%;
      margin-right: 10%;
      margin-top:1%;
  }

  .input{
      width: 40%;
  }

  .submit{
      width: 30%;
  }

}

