.nowPopular {
  display: grid;
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 30px;
  margin-bottom: 40px;
  grid-template-columns: repeat(6, 15%);
  grid-template-rows: repeat(2, 150px);
  column-gap: 30px;
  row-gap: 50px;
  font-size: 12pt;
  
}

.giftName{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 95%;
  text-decoration: none;
}

.images{
  object-fit: cover;
  box-sizing: content-box;
}

.images:hover{
  opacity: 0.4;
}


h2{
  margin-left: 60px;
  color: #53bac1;
}

h3{
  margin-left: 60px;
  margin-top: 70px;
  font-size: 15pt;
  color: #53bac1;
}

.quickButtons{
  display: grid;
  margin-top: 10px;
  margin-left: 60px;
  margin-right: 30px;
  grid-template-columns: repeat(6, 10%);
  column-gap: 20px;
  row-gap: 40px;
  font-size: 12pt;
}

.button{
  border: none;
  background-color: #f7c200;
  color: black;
  border-radius: 10px;
  height: 35px;
  box-shadow: 10px 5px 10px rgb(192, 189, 189);
}

.button:hover{
  opacity: 0.5;
}
