.nowPopular {
  display: grid;
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 30px;
  margin-bottom: 40px;
  grid-template-columns: repeat(6, 15%);
  grid-template-rows: repeat(2, 150px);
  column-gap: 30px;
  row-gap: 50px;
  font-size: 12pt;
  
}

.giftName{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 95%;
}

.giftImg{
  width: 100%;
  height: 147px;
}

.images{
  object-fit: cover;
  box-sizing: content-box;
}

.images:hover{
  opacity: 0.4;
}

h3{
  margin-left: 60px;
}

h4{
  margin-left: 60px;
  margin-top: 80px;
}

.quickButtons{
  display: grid;
  margin-top: 10px;
  margin-left: 60px;
  margin-right: 30px;
  grid-template-columns: repeat(6, 10%);
  column-gap: 20px;
  row-gap: 40px;
  font-size: 12pt;
}

.button{
  border: none;
  background-color: #f7c200;
  color: black;
  height: 35px;
  box-shadow: 10px 5px 10px rgb(192, 189, 189);
}

.button:hover{
  opacity: 0.5;
}

@media screen and (min-width: 320px) and (max-width: 700px){
  .nowPopular {
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(5, 150px);
  }
  
  .quickButtons{
    grid-template-columns: repeat(3, 30%);
    column-gap: 20px;
    row-gap: 30px;
    font-size: 12pt;
    margin-bottom: 10px;
  }
  
  .button{
    height: 40px;
  }
}

@media screen and (min-width: 701px) and (max-width: 1199px){
  .nowPopular {
    margin-left: 2%;
    margin-right: 1%;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(3, 150px);
  }
  
  .quickButtons{
    grid-template-columns: repeat(3, 30%);
    column-gap: 20px;
    row-gap: 20px;
    font-size: 12pt;
  }
}
