.header{
  margin-bottom: 1%;
}

body {
  background-color: #ededed;
  font-family: Arial, sans-serif;
  background-size: cover;
}


form {
  border: 4px solid #f1f1f1;
  margin-left: 20%;
  margin-right: 20%;
  margin-top:2%;
}

.container {
  padding:10px;
  text-align: center;
}

#alternative{
  color: #53bac1;
  font-size: 20px;
  text-decoration: none;
}

#alternative:hover{
  color: #db0038;
}

#alternative i{
  color: black;
  font-style: normal;
}

.icons{
  color:#53bac1;
}

.input{
  width: 30%;
  padding: 12px 10px;
  outline:none;
  border: none;
  border-bottom: 2px solid #f7c200;
  background: transparent;
  margin: 10px;
}

.input:focus{
  border:none;
  border-bottom: 2px solid #db0038;
}

::placeholder {
  color: black;
  text-transform: uppercase;
}

#remember{
  color: grey;
  margin-right: 5%;
}

#forgot{
  color:#53bac1;
  text-decoration: none;
}

.submit{
  background-color: #519dd9;
  color: #ededed;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 20%;
  border-radius: 8px;
  margin: 1%;
  text-transform: uppercase;
  font-size: 14px;
}

.submit:hover {
  background-color: #db0038;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  
}