p.sectionTitle {
	font: bold 20pt Arial, sans-serif;
	color: #db0038;
}

p.pageTitle {
	font: bold 25pt Arial, sans-serif;
	color: #db0038;
}

p.userDescription {
	font: italic 15pt Arial, sans-serif;
	color: #525457;
}

p.itemName {
	font : 15pt Arial, sans-serif;
	color: #525457;
}

a.link {
	text-decoration: none;
}

.button {
  background-color: #519dd9;
  float: center;
  color: white;
  padding: 15pt 30pt;
  text-align: center;
  text-decoration: none;
  font-size: 18pt;
  font-family: arial;
  cursor: pointer;
  width: fit-content;
  display: block;
  text-decoration: none;
}

.button:hover{
  background-color: #f7c200;
  color: black;
}

.item-1 {
	grid-area: pageTitle;
}

.item-2 {
	grid-area: image;
}

.item-3 {
	grid-area: settings;
	justify-self: center;
}

.item-4 {
	grid-area: description;
	align-self: start;
}

.item-5 {
	grid-area: questionnaire;
	justify-self: center;
}

.item-6 {
	grid-area: wLText;
}

.item-7 {
	grid-area: gift1;
	text-align: center;
	justify-self: end;
}

.item-8 {
	grid-area: gift2;
	text-align: center;
}

.item-9 {
	grid-area: gift3;
	text-align: center;
}

.item-10 {
	grid-area: gift4;
	text-align: center;
}

.item-11 {
	grid-area: fullWList;
	justify-self: center;
}

.item-12 {
	grid-area: fLText;
}

.item-13 {
	grid-area: friend1;
	text-align: center;
	justify-self: end;
}

.item-14 {
	grid-area: friend2;
	text-align: center;
}

.item-15 {
	grid-area: friend3;
	text-align: center;
}

.item-16 {
	grid-area: friend4;
	text-align: center;
}

.item-17 {
	grid-area: fullFList;
	justify-self: center;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-gap: 10pt 25pt;
	align-items: center;
	justify-content: center;
	grid-template-areas: 
	 "pageTitle . . . ."
	 "image description description description settings"
     "image description description description questionnaire"
	 ". . . . ."
	 "wLText . . . ."
	 "gift1 gift2 gift3 gift4 fullWList" 
	 ". . . . ."
	 "fLText . . . ."
	 "friend1 friend2 friend3 friend4 fullFList";
}

.grid-container > div {
	padding: 0 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.grid-container {
		display: grid;
		grid-template-columns: 5% 45% 45% 5%;
		grid-gap: 10pt 25pt;
		align-items: center;
		justify-content: center;
		grid-template-areas: 
		 ". pageTitle . ."
		 ". image image ."
		 ". image image ."
		 ". description description ."
		 ".  settings settings ."
		 ". questionnaire questionnaire ."
		 ". . . ."
		 ". wLText wLText ."
		 ". gift1 gift2 ."
		 ". gift3 gift4 ."
		 ". fullWList fullWList ." 
		 ". . . ."
		 ". fLText fLText ."
		 ". friend1 friend2 ."
		 ". friend3 friend4 ."
		 ". fullFList fullFList .";
	}

	.grid-container > div {
		padding: 0 0;
	}
		
	.item-7 {
		grid-area: gift1;
		text-align: center;
		justify-self: center;
	}
	
	.item-13 {
		grid-area: friend1;
		text-align: center;
		justify-self: center;
	}
}
