form{
    margin-left: 5%;
    margin-right: 5%;
    margin-top:2%;
    margin-bottom: 2%;
}

.recommendationQ{
    font-family: 'Arial', sans-serif;
    margin-left: 15%;
    color: #db0038;
}

.quiz{
    font-size: 20px;
    color: black;
}

.submit{
    background-color: #db0038;
    color: white;
    border: none;
    outline: none;
    width: 100px;
    height: 40px;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 2%;
}

.submit:hover{
    background-color: #f7c200;
    color: black;
}

#question{
    color: #519dd9;
}

@media screen and (min-width: 320px) and (max-width: 700px){
    .recommendationQ{
        margin: 2%;
        text-align: center;
    }
    
    .submit{
        margin-left: 20%;
    }
}

@media screen and (min-width: 701px) and (max-width: 1200px){
    .recommendationQ{
        margin: 2%;
        text-align: center;
    }

}
