.header{
    margin-bottom: 1%;
}

form {
    border: 4px solid grey;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:2%;
}

.container {
    padding:10px;
    text-align: center;
}

#alternative{
    color: #53bac1;
    font-size: 20px;
    text-decoration: none;
}

#alternative:hover{
    color: #db0038;
}

#alternative i{
    color: black;
    font-style: normal;
}

.icons{
    color:#53bac1;
}

.input{
    width: 30%;
    padding: 12px 10px;
    outline:none;
    border: none;
    border-bottom: 2px solid #f7c200;
    background: transparent;
    margin: 10px;
    color:black;
}

.input:focus{
    border:none;
    border-bottom: 2px solid #db0038;
}

::placeholder {
    color: black;
    text-transform: uppercase;
}
  
.gender{
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 3px;
    border: none;
    background-color: transparent;
    color: #53bac1;
}

.gender:hover{
    background-color: transparent;
    color: #db0038;
}

.submit{
    background-color: #519dd9;
    color: #ededed;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 20%;
    margin: 1%;
    text-transform: uppercase;
    font-size: 14px;
}

.submit:hover {
    background-color: #db0038;
}

#formStatus{
    color:#db0038; 
    font-weight: bold;
}

@media screen and (min-width: 320px) and (max-width: 767px){
    form {
        margin-left: 5%;
        margin-right: 5%;
        margin-top:1%;
    }

    .input{
        width: 50%;
    }

    .submit{
        width: 40%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    form {
        margin-left: 15%;
        margin-right: 20%;
        margin-top:2%;
    }

    .input{
        width: 40%;
    }

    .submit{
        width: 30%;
    }
}
