.header {
  color: black;
}

body{
  background-color: #ededed;
  color:#519dd9;
  font-family: 'Arial', sans-serif;
  
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 2rem;
}
.footer a {
  text-decoration: none;
  padding-left: 10pt;
  padding-right: 10pt;
  color: black;
}

.footer a:hover {
  color: #f7c200;
  text-decoration:none;
}

.giftbank {
  display: flex;
  position: absolute;
  top: 10pt;
  right: 10pt;
  align-items:center;
  background-color: #db0038;
  text-decoration: none;
  padding: 5pt;
  border-radius: 10pt;
  z-index: 9999;
}

.giftbank a{
  text-decoration: none;
  text-align:center;
  font-family: arial;
  color: white;
  margin: 5pt;
}

.giftbank:hover {
  background-color: #f7c200;
  text-decoration: none;
}

.giftbank .a:hover {
  text-decoration: none;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2rem;    /* Footer height */
}

@media screen and (min-width: 320px){
  
  .logo{
    width: 140px;
    height: 50px;
  }
  
  .giftbank{
    width: 100%;
  }
  
}

@media screen and (min-width: 768px){
  
  .logo{
    width: 220px;
    height: 85px;
  }
  
}

@media screen and (min-width: 1200px){
  
  .logo{
    width: 410px;
    height: 120px;
  }
  
}
