.wishlist {
    margin-top: 30px;
    margin-left: 7%;
    margin-right: 5%;
    margin-bottom: 40px;
    font-size: 12pt;
}

* {
    box-sizing: content-box;
}

.image {
    object-fit: cover;
}

.image:hover {
    opacity: 0.4;
}

[class*="col-"] {
    float: left;
    margin-right: 20px;
}

.col-1 {
    width: 18%;
}

.col-2 {
    width: 18%;
}

.col-3 {
    width: 18%;
}

.col-4 {
    width: 18%;
}

.col-5 {
    width: 18%;
}



.giftName {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 95%;
}

h2 {
    margin-top: 10px;
    margin-left: 60px;
    color: #53bac1;
}


