<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us | Giftr</title>
    <link rel='icon' href='{{ url_for('static', filename='img/favicon.ico') }}' type='image/x-icon' >
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='src/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='src/about.css') }}">
    <link rel='stylesheet' href="https://unpkg.com/aos@next/dist/aos.css">
</head>  
    
<body>
    <div id="page-container">
        <div id="content-wrap">
            <div class="header">
                <center>
                    <a href= "{{ url_for('index') }}">
                        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" width="410" height="120"> 
                    </a>
                    <br>Gifts that never disappoint
                </center>
            </div>
            
            <div class="giftbank">
                <img src="{{ url_for('static', filename='img/gift.png') }}" alt="Gift icon" width="30" height="30">
                <a href="#">Gift Bank</a>
            </div>
            
            <div class="wrapper">
                <nav class="tabs">
                    <div class="selector"></div>
                    <a href="{{ url_for('index') }}" class="active"><i class="fas fa-home"></i>Home</a>
                    <a href="#"><i class="fas fa-search"></i>Search for gift</a>
                    <a href="#"><i class="fas fa-gift"></i>Item suggestion</a>
                    <a href="#"><i class="fas fa-user"></i>My profile</a>
                </nav>
            </div>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
            
            <div class="titles" data-aos="zoom-in">About Us</div>
            <div class="text1" data-aos="fade-down">Tired of receiving the same old gift sets every Birthday? Well look no further...</div>
            <div class="text2" data-aos="fade-right"> We are university students who have gifted you with your very own gift-finder to help you find the perfect gift for both your loved ones and yourself!</div>
            <div class="text3" data-aos="zoom-out">We know just how hard it is to find the perfect, unique gift and noticed there was a lack of help out there. </div>
            <div class="text4" data-aos="flip-up">And thus, Giftr was born.</div>
            <div class="text1" data-aos="fade-up">We help you find the best gifts by creating wishlists and use artificial intelligence, be it for your mum or your better half.</div>
            <div class="text2" data-aos="flip-right">We are certain these gifts will bring them joy as our very smart AI helps to keep it a surprise.</div>
            <div class="text3" data-aos="fade-down">It will also make it easier for your loved ones to see what to get you so we can avoid the dreaded lynx sets or boring chocolate boxes.</div>
            <div class="text5" data-aos="fade-right">Use the provided filters to ease your search, be it fitting into a budget or knowing what category you want to find the gift in</div>
        </div>
        <div class="footer">
            <a href="about.html">About Us</a>
            |
            <a href="{{ url_for('register') }}">Contact Us</a>
            |   
            <a href="#">Privacy Policy</a>
        </div>
    </div>
    <script  src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>
