<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Back End Test File</title>
  </head>
  <body>
    <!-- nav bar-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="{{ url_for('index') }}">
            <img
              src="{{ url_for('static', filename='img/logo.png') }}"
              alt="Logo"
              width="120"
              draggable="false"
              style="margin-top: 8px; margin-right: 10px;"
            />
          </a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('suggestion') }}">Item suggestion</a></li>
        </ul>
        <form class="navbar-form navbar-left" action="/search" method="POST">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search for gift"
              name="search"
            />
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          {% if 'loggedin' in session %}
          <li>
            <a href="{{ url_for('logout') }}" style="color: red;"
              ><span class="glyphicon glyphicon-log-out"></span> Logout</a
            >
          </li>
          <li>
            <a href="{{ url_for('profile') }}"
              ><span class="glyphicon glyphicon-user"></span> My profile</a
            >
          </li>
          {% else %}
          <li>
            <a href="{{ url_for('login') }}"
              ><span class="glyphicon glyphicon-log-in"></span> Login</a
            >
          </li>
          <li>
            <a href="{{ url_for('register') }}"
              ><span class="glyphicon glyphicon-user"></span> Sign Up</a
            >
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <button type="submitLogout">Logout</button>
    <h1>Login: email,pass</h1>
    <form action="/api" method="post">
      <label for="uname">Email</label>
      <input type="hidden" name="action" value="login" />
      <input type="email" placeholder="Email" name="email" required />

      <label for="passw">Password</label>
      <input type="password" placeholder="Password" name="passw" required />
      <button type="submit">Login</button>

      <label>
        <input type="checkbox" checked="checked" name="remember" /> Remember me
      </label>
    </form>

    <h1>Forgot password</h1>
    <form action="/api" method="post">
      <input type="hidden" name="action" value="forgot" />

      <label for="uname">Email</label>
      <input type="email" placeholder="Email" name="email" required />
      <button type="submit">Submit</button>
    </form>

    <h1>Register</h1>
    <form action="/api" method="post">
      <input type="hidden" name="action" value="register" />

      <label for="name">Name</label>
      <input type="text" placeholder="Name" name="name" required />

      <label for="uname">Email</label>
      <input type="email" placeholder="Email" name="email" required />

      <label for="passw">Password</label>
      <input type="password" placeholder="Password" name="passw" required />
      <button type="submit">Submit</button>
    </form>
    <h2>------- IF LOGGED IN -------</h2>
    <h1>Change User Data (profile settings)</h1>
    <form action="/api" method="post">
      <input type="hidden" name="action" value="modifyUser" />
      <input
        type="hidden"
        name="token"
        value="SomeOneTimeTokenGeneratedOnLogin"
      />

      <label for="name">Name</label>
      <input type="text" placeholder="Name" name="name" required />

      <label for="uname">Email</label>
      <input type="email" placeholder="Email" name="email" required />

      <label for="passw">Password</label>
      <input type="password" placeholder="Password" name="passw" required />
      <label for="confirmPassw">Confirm Password</label>
      <input
        type="confirmPassw"
        placeholder="Password"
        name="confirmPassw"
        required
      />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
