<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Welcome | Giftr</title>
    
    <link rel='icon' href="{{ url_for('static', filename='img/favicon.ico') }}" type='image/x-icon'/>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'><link rel='stylesheet' href="{{ url_for('static', filename='src/logInStyle.css') }}">
</head>

<body style="background-image: url('img/background.jpg');">
     <div class="header">
        <center>
            <a href= "{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" width="410" height="120"> 
            </a>
            <br>
        </center>
    </div>
    <center>
        <a href="{{ url_for('register') }}" id="alternative"><i>Don't have an account? </i>Sign up</a>
    </center>
    <form action="{{ url_for('loginapi') }}" method="post">
        <input type="hidden" name="action" value="login"> 
        <div class="container" >
            <center>
                <img src="{{ url_for('static', filename='img/party-profile.png') }}" alt="Profile" width="200" height="200">
            </center>

            <label for="email" class="icons"><i class="fas fa-user"></i></label>
            <input type="text" class="input" placeholder="Email" name="email" required>

            <br>

            <label for="passw" class="icons"><i class="fas fa-unlock-alt"></i></label>
            <input type="password" class="input" placeholder="Password" name="passw" required>

            <br>

            <label id="remember">
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>

            <a href="forgotPsw.html" id="forgot">Forgot password?</a>

            <br>

            <button class="button submit" type="submit">Login</button>

        </div>  
    </form>
    
</body>

</html>