<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Profile | Giftr</title>
    <link rel='icon' href="{{ url_for('static', filename='img/favicon.ico') }}" type='image/x-icon'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="header">
        <center>
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" width="410" height="120" draggable="false"> 
            <br>Our motto goes here
        </center>
    </div>

    <div class="giftbank">
        <img src="{{ url_for('static', filename='img/gift.png') }}" alt="Gift icon" width="30" height="30" draggable="false">
        <a href="#">Gift Bank</a>
    </div>

    <link rel="stylesheet" href="{{ url_for('static', filename='src/profile.css') }}">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='src/style.css') }}">

    <div class="wrapper">
        <nav class="tabs">
            <div class="selector"></div>
            <a href="#" class="active"><i class="fas fa-home"></i>Home</a>
            <a href="#"><i class="fas fa-search"></i>Search for gift</a>
            <a href="#"><i class="fas fa-gift"></i>Item suggestion</a>
            <a href="#"><i class="fas fa-user"></i>My profile</a>
        </nav>
    </div>
    <img src="{{ url_for('static', filename='src/script.js') }}" alt="Gift icon" width="30" height="30" draggable="false">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="{{ url_for('static', filename='src/script.js') }}"></script>


</head>

<body>
 <div class="grid-container">
   <div class="item-1">
     <p class="pageTitle"> My Profile </p>
   </div>
   <div class="item-2">
    <img src="{{ url_for('static', filename='img/party-profile.png') }}" alt="Profile" width="200" height="200" draggable="false"> 
   </div>
   <div class="item-4">
     <p class="sectionTitle"> Username </p> 
     <p class="userDescription"> This is the user's description.</p>
   </div>
   <div class="item-3">
     <a href="#" class="button button2">Settings</a>
   </div>
   <div class="item-5">
     <a href="#" class="button button2">Recommendation Questionnaire</a> 
   </div>
   <div class="item-6">
     <p class="sectionTitle">My Wish List</p>
   </div>
   <div class="item-7">
     <p class="itemName"><a class="link" href="#"><img src="{{ url_for('static', filename='img/gift.png') }}" alt="Profile" width="150" height="150" draggable="false"><br> Gift 1 </a></p>

   </div>
   <div class="item-8">
     <p class="itemName"><a class="link" href="#"><img src="{{ url_for('static', filename='img/gift.png') }}" alt="Profile" width="150" height="150" draggable="false"><br> Gift 2 </a></p>
   </div>
   <div class="item-9">
     <p class="itemName"><a class="link" href="#"><img src="{{ url_for('static', filename='img/gift.png') }}" alt="Profile" width="150" height="150" draggable="false"><br> Gift 3 </a></p>
   </div>
   <div class="item-10">
     <p class="itemName"><a class="link" href="#"><img src="{{ url_for('static', filename='img/gift.png') }}" alt="Profile" width="150" height="150" draggable="false"><br> Gift 4 </a></p>
   </div>
   <div class="item-11">
     <a href="#" class="button button2">View Full Wish List</a>
   </div>
   <div class="item-12">
     <p class="sectionTitle">My Friend List</p>
   </div>
   <div class="item-13">
     <p class="itemName"><a class="link" href="#"><img src="{{ url_for('static', filename='img/party-profile.png') }}" alt="Gift 1" width="150" height="150" draggable="false"><br> Friend 1 </a></p>
   </div>
   <div class="item-14">
     <p class="itemName"><a class="link" href="#"><img src="{{ url_for('static', filename='img/party-profile.png') }}" alt="Gift 1" width="150" height="150" draggable="false"><br> Friend 2 </a></p>
   </div>
   <div class="item-15">
     <p class="itemName"><a class="link" href="#"><img src="{{ url_for('static', filename='img/party-profile.png') }}" alt="Gift 1" width="150" height="150" draggable="false"><br> Friend 3 </a></p>
   </div>
   <div class="item-16">
     <p class="itemName"><a class="link" href="#"><img src="{{ url_for('static', filename='img/party-profile.png') }}" alt="Gift 1" width="150" height="150" draggable="false"><br> Friend 4 </a></p>
   </div>
   <div class="item-17">
     <a href="#" class="button button2">View Full Friend List</a>
   </div>
 </div>
   
 <div class="footer">
    <a href="#">About Us</a>
    |
    <a href="#">Contact Us</a>
    |
    <a href="#">Privacy Policy</a>
 </div>

</body>
</html>
