<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Welcome | Giftr</title>

    <link rel='icon' href="{{ url_for('static', filename='img/favicon.ico') }}"
    type='image/x-icon'/ >
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='src/signUpStyle.css') }}"
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body style="background-image: {{ url_for('static', filename='img/background.jpg') }};">
    <!-- nav bar-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="{{ url_for('index') }}">
            <img
              src="{{ url_for('static', filename='img/logo.png') }}"
              alt="Logo"
              width="120"
              draggable="false"
              style="margin-top: 8px; margin-right: 10px;"
            />
          </a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('suggestion') }}">Item suggestion</a></li>
        </ul>
        <form class="navbar-form navbar-left" action="/search" method="POST">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search for gift"
              name="search"
            />
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          {% if 'loggedin' in session %}
          <li>
            <a href="{{ url_for('logout') }}" style="color: red;"
              ><span class="glyphicon glyphicon-log-out"></span> Logout</a
            >
          </li>
          <li>
            <a href="{{ url_for('profile') }}"
              ><span class="glyphicon glyphicon-user"></span> My profile</a
            >
          </li>
          {% else %}
          <li>
            <a href="{{ url_for('login') }}"
              ><span class="glyphicon glyphicon-log-in"></span> Login</a
            >
          </li>
          <li>
            <a href="{{ url_for('register') }}"
              ><span class="glyphicon glyphicon-user"></span> Sign Up</a
            >
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="header">
      <center>
        <a href="{{ url_for('index') }}">
          <img
            src="{{ url_for('static', filename='img/logo.png') }}"
            alt="Logo"
            width="410"
            height="120"
          />
        </a>
        <br />
      </center>
    </div>

    <center>
      <a href="{{ url_for('login') }}" id="alternative"
        ><i>Already have an account? </i>Log in</a
      >
    </center>
    <form action="/register" method="post">
      <input type="hidden" name="action" value="register" />
      <div class="container">
        <label for="name" class="icons"><i class="fas fa-user"></i></label>
        <input
          type="text"
          class="input"
          placeholder="Name"
          name="name"
          required
        />

        <br />

        <label for="bdaymonth" class="icons"
          ><i class="fas fa-calendar-alt"></i
        ></label>
        <input type="month" class="input" name="bdaymonth" value="2020-01" />

        <br />

        <button class="button gender"><i class="fas fa-male"></i></button>
        <button class="button gender"><i class="fas fa-female"></i></button>

        <br />

        <label for="email" class="icons"><i class="fas fa-envelope"></i></label>
        <input
          type="email"
          class="input"
          placeholder="Email"
          name="email"
          required
        />

        <br />

        <label for="passw" class="icons"
          ><i class="fas fa-unlock-alt"></i
        ></label>
        <input
          type="password"
          class="input"
          placeholder="Password"
          name="pas"
          required
        />

        <br />

        <label for="repeat_pas" class="icons"
          ><i class="fas fa-unlock-alt"></i
        ></label>
        <input
          type="password"
          class="input"
          placeholder="Confirm Password"
          name="repeat_pas"
          required
        />

        <br />

        <button class="button submit" type="submit">Sign up</button>
      </div>
    </form>
  </body>
</html>
